body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #dbdfe1;
	font-size: 13px !important;
	max-width: 100%;
}
.threed {
    text-shadow: 0px 1px 1px #ddd, 0px 2px 1px #d6d6d6, 0px 2px 1px #ccc, 0px 4px 1px #c5c5c5, 0px 0px 1px #c1c1c1, 0px 6px 1px #bbb, 0px 0px 1px #777, 0px 0px 1px rgb(100 100 100 / 40%), 0px 9px 5px rgb(100 100 100 / 10%), 0px 10px 7px rgb(100 100 100 / 15%), 0px 11px 9px rgb(100 100 100 / 20%), 0px 12px 11px rgb(100 100 100 / 25%), 0px 13px 15px rgb(100 100 100 / 30%);
    transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
}
.button_8{
  background: #007f5d;
  background: -moz-linear-gradient(top, #007f5d 0%, #003c44 100%);
  background: -webkit-linear-gradient(top, #007f5d 0%,#003c44 100%);
  background: linear-gradient(to bottom, #007f5d 0%,#003c44 100%);
  border: none;
  height: 40px;
  font-size: 14px;
  color: #ffffff;
  border-radius:5px;
  position: relative;
  padding:5px;
}
.button_8:after{
  content:"";
  box-sizing: border-box;
  background:#eeeeee;
  height:40px;
  position:absolute;
  top: 5px;
  left: 10px;
  right: 10px;
  z-index: -1;
  background: #007f5d;
  background: -moz-linear-gradient(top, #007f5d 0%, #003c44 100%);
  background: -webkit-linear-gradient(top, #007f5d 0%,#003c44 100%);
  background: linear-gradient(to bottom, #007f5d 0%,#003c44 100%);
  filter: blur(10px);
}
.button_8:hover {
    color: #ffffff;
    background: linear-gradient(to bottom, #088b68 0%,#026e78 100%);
}
th{
	text-align: center;
}
.spinner-border{
	width: 5rem !important;
    height: 5rem !important;
	margin: 20px;
	vertical-align: middle;
}
#table_head{
	display:none;
}
.slider{
	width: 100%;
    margin-top: 5px;
}